label{
    font-weight: bold;
}

input{
    position: relative;
    top: 35px;
    right: 50px;
    width: 500px;
}

button{
    position: relative;
    top: 80px;
    right: 555px;

}

div#topo{
    background-color: rgb(175, 175, 175);
    position: relative;
    top: 25px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

div#topo h1{
    margin: auto;
}

form{
    position: relative;
    top: 50px;
}