label{
    font-weight: bold;
}

div#col1 input{
    position: relative;
    top: 35px;
    right: 50px;
    width: 700px;
}

div#col2{
    position: relative;
    bottom: 34px;
    left: 720px;
    width: 300px;
}

div#col3{
    position: relative;
    bottom:34px;
    left: 630px;
    width: 250px;
}

button{
    position: relative;
    top: 80px;
    right: 750px;

}

div#topo{
    background-color: rgb(175, 175, 175);
    position: relative;
    top: 25px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

div#error{
    position: relative;
    top: 20px;
}

div#topo h1{
    margin: auto;
}

form{
    position: relative;
    top: 20px;
}