div#topo{
    background-color: rgb(175, 175, 175);
    position: relative;
    top: 25px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

div#topo h1{
    margin: auto;
}

img#logo_del{
    width: 25px;
}

